{% extends './layouts/app.html.twig' %}

{% block title "Home" %}

{% block styles %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <h1>Hello from Morocco !!</h1>

{% endblock %}

{% block scripts %}

    {{ parent() }}

{% endblock %}