{% extends './layouts/app.html.twig' %}

{% block title "Edit task" %}

{% block content %}

    <div>

        <a class="btn btn-primary float-right" href="{{ path('app_task_index') }}">Back to the list of tasks</a>

        <h1>Edit The Task</h1>

    </div>

    {{ form_start(task_form) }}
    {{ form_end(task_form) }}

{% endblock %}